/* File that assigns no margin or padding in `body` tags and margin `10px` to all of the `p` tags inside `body` tags using nested declarations */
body {
	margin: 0px;
	padding: 0px;

	p {
		margin: 10px;
	}
}
